<h1>HR Department:</h1>
<h2>Your Current Divisions</h2>

<% if @divisions.any? %>
  <h3>Here are your divisions:</h3>

  <ul>
    <% @divisions.each do |division| %>
      <li><a href="/division/<%= division.id()%>"><%= division.division %></a> </li>
    <% end %>
  </ul>

<% else %>
    <p>There are no divisions yet!</p>
<% end %>

<h2>Add a new division:</h2>
<form action="/" method="post">
  <input type="text" name="division">
  <button type="submit">Create division</button>
</form>

<br>
<br>
<br>
<br>
<h1>Project Manager:</h1>

<% if @projects.any? %>
  <h3>Here are your divisions:</h3>

  <ul>
    <% @projects.each do |project| %>
      <li><a href="/project/<%= project.id()%>"><%= project.name %></a> </li>
    <% end %>
  </ul>

<% else %>
    <p>There are no divisions yet!</p>
<% end %>

<h2>Add a new division:</h2>
<form action="/project" method="post">
  <input type="text" name="name">
  <button type="submit">Create division</button>
</form>
